{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto MP - Cadastro</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <main class="container mt-5">
        <p>Bem vindo à feira, faça seu cadastro</p>
        <form method="POST" action="{% url 'cadastro' %}">
            {% csrf_token %}
            <fieldset>
                <legend>Cadastro</legend>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="tel" id="telefone" name="telefone" class="form-control" placeholder="Telefone" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
                </div>
                <div class="mb-3">
                    <label for="tipo_user" class="form-label">Selecione o tipo de usuário</label>
                    <select id="tipo_user" name="tipo_user" class="form-select" required>
                        <option value="ADM">ADM</option>
                        <option value="FEI">FEI</option>
                        <option value="CON">CON</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </fieldset>
        </form>
    </main>
</body>
</html>