<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto MP</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <main class="container mt-5">
        <p>Bem vindo ao buscador, faça o login</p>
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                <div class="mb-3">
                    <label for="username" class="form-label">Insira seu usuário</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Usuário" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Insira sua senha</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
                </div>
                <div class="mb-3">
                    <label for="tipo_user" class="form-label">Tipo de usuário</label>
                    <select id="tipo_user" name="tipo_user" class="form-select" required>
                        <option value="FEI">Feirante</option>
                        <option value="CON">Consumidor</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </fieldset>
        </form>
    </main>
</body>
</html>