body {
    background-color: #FFD700;
    background-image: url("../img/feira.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh;
    backdrop-filter: blur(1px) saturate(125%) contrast(75%) brightness(125%);
    margin: 0;
}

main.index {
    text-align: center;
    color: #4e3e3e;
    background-color: seashell;
    padding: 30px;
    box-shadow: 0 4px 10px white;
    border: 1px solid black;
    border-radius: 7px;
}

main .container.mt-5{
    text-align: center;
    color: #fff;
    background: rgba(57, 57, 57, 0.7);
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(213, 212, 212, 0.558);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button { 
    width:  100px;
    height: 60px;
    background: rgb(14, 13, 13);
    color: #fff;
}

.container.mt-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button .container.mt-5{
    width: 100px;
    height: 60px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    background: #3948db;
    color: #fff;
    border-radius: 5px;
    cursor:pointer;
}
button:hover .container.mt-5{
    background: #2980b9;
}
button:active .container.mt-5{
    transform: scale(0.98);
}
