body {
    background-image: url("../img/feira.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}